	/**HEADER**/
	#header-nav {
		background-color: maroon;
		border-radius: 0;
		border:0;
	}

	#logo-img {
		background: url('../images/logo.png') no-repeat;
		width: 150px;
		height:150px;
		margin:10px 15px 10px 0;

	}

	.container {
		margin:0px 0px 0px 40px;
		padding-left: 40px;
	}

